absl-py
accelerate
annotated-doc
anyio
attrs
certifi
cffi
click
contourpy
cycler
exceptiongroup
filelock
flatbuffers
fonttools
fsspec
h11
hf-xet
httpcore
httpx
huggingface_hub
idna
jax
jaxlib
Jinja2
joblib
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
mediapipe
ml_dtypes
mpmath
networkx
numpy
opencv-contrib-python
opencv-python
opt_einsum
pandas
pillow
protobuf
psutil
pycparser
Pygments
pyparsing
python-dateutil
pytz
PyYAML
regex
rich
safetensors
scikit-learn
scipy
shellingham
six
sounddevice
sympy
thop
threadpoolctl
timm
tokenizers
torch
torchvision
tqdm
transformers
triton
typer
typer-slim
typing_extensions
tzdata